@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/nicomoji.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Noto Sans";
  min-width: 370px;
  background: #10032b;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/background_L.png");
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--accent);
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  width: 10%;
}
